{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.url_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.url_list'|trans }}</h1>
    {% if urls is defined and urls|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.long_url'|trans }}</th>
                <th>{{ 'label.short_url'|trans }}</th>
                <th>{{ 'label.create_time'|trans }}</th>
                <th>{{ 'label.is_blocked'|trans }}</th>
                <th>{{ 'label.block_expiration'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for url in urls %}
                <tr>
                    <td>{{ url.id }}</td>
                    <td>{{ url.longUrl}}</td>
                    <td>{{ url.shortUrl }}</td>
                    <td>{{ url.createTime|date('Y/m/d H:i:s') }}</td>
                    <td>{{ url.isBlocked ? 'Yes' : 'No' }}</td>
                    <td>{{ url.blockExpiration ? url.blockExpiration|date('Y/m/d H:i:s') : '-' }}</td>
                    <td>
                        <a href="{{ url('url_show', {id: url.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
