{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.url_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.url_list'|trans }}</h1>
    <p>
        <a href="{{ url('url_create') }}" class="btn btn-primary">
            {{ 'action.create'|trans }}
        </a>
    </p>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'url.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.long_url'|trans, 'url.longUrl') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.short_url'|trans, 'url.shortUrl') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.create_time'|trans, 'url.createTime') }}</th>
                <th>{{ 'label.tag'|trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ knp_pagination_sortable(pagination, 'label.is_blocked'|trans, 'url.is_blocked') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.block_expiration'|trans, 'url.block_expiration') }}</th>
                    {% endif %}
                <th>{{ 'label.actions'|trans }}</th>
    {% if is_granted('ROLE_ADMIN') %}
                <th>{{ 'title.url_edit'|trans }}</th>
                <th>{{ 'title.url_block'|trans }}</th>
                <th>{{ 'title.url_delete'|trans }}</th>
    {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for url in pagination.items %}
                <tr>
                    <td>{{ url.id }}</td>
                    <td>{{ url.longUrl }}</td>
                    <td>
                        <a href="{{ url('url_redirect_index', {'shortUrl' : url.shortUrl}) }}" title="{{ url.shortUrl }}" target="_blank">
                            {{ 'https://wierzba.wzks.uj.edu.pl/~21_zalubski/url-app/r/' ~ url.shortUrl }}
                        </a>
                    </td>
                    <td>{{ url.createTime|format_date('long') }}</td>
                    <td>
                        {% if url.tags is defined and url.tags|length %}
                            {% for tag in url.tags %}
                                <a href="{{ url('url_list', {'filters.tag_id' : tag.id}) }}" title="{{ tag.name }}">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ url.isBlocked ? 'label.block_yes'|trans : 'label.block_no'|trans }}</td>
                    <td>{{ url.blockExpiration ? url.blockExpiration|date('Y-m-d H:i:s') : '' }}</td>
                    {% endif %}
{#                    {% if is_granted('VIEW', url) %}#}
                        <td>
                            <a class="btn btn-outline-primary" href="{{ url('url_show', {id: url.id}) }}" title="{{ 'action.show'|trans }}">
                                {{ 'action.show'|trans }}
                            </a>
                        </td>
{#                    {% endif %}#}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a class="btn btn-outline-success" href="{{ url('url_edit', {id: url.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                        </td>
                        <td>
                            {% if url is defined and url.isBlocked %}
                                <a class="btn btn-outline-warning" href="{{ url('url_unblock', {id: url.id}) }}" title="{{ 'action.unblock'|trans }}">
                                    {{ 'action.unblock'|trans }}
                                </a>
                            {% else %}
                                <a class="btn btn-outline-warning" href="{{ url('url_block', {id: url.id}) }}" title="{{ 'action.block'|trans }}">
                                    {{ 'action.block'|trans }}
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-outline-danger" href="{{ url('url_delete', {id: url.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}