{% extends 'base.html.twig' %}

{% block title %}
        {{ 'title.popular_urls'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.popular_urls'|trans }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'label.url'|trans }}</th>
                <th>{{ 'label.count'|trans }}</th>
                <td>{{ 'label.url_id' }}</td>
            </tr>
        </thead>
        <tbody>
            {% for urlVisited in urlsVisited %}
                <tr>
                    <td>{{ urlVisited.id }}</td>
{#                    <td>{{ urlVisited.visits }}</td>#}
{#                    <td>{{ urlVisited.url }}</td>#}
{#                    <td>{{ urlVisited.visitTime|format_date('long') }}</td>#}
{#                    <td>{{ urlVisited.url.id }}</td>#}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}