{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.popular_urls'|trans }}
{% endblock %}

{% block body %}
    <div class="row d-flex h-100">
    <div class="card bg-light my-5" style="border-radius: 5px;">
    <div class="card-body py-5">
    <h1 class="text-center">{{ 'title.popular_urls'|trans }}</h1>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.count'|trans }}</th>
                <th>{{ 'label.short_url'|trans }}</th>
                <th>{{ 'label.url'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for urlVisited in pagination.items %}
                <tr>
                    <td>{{ urlVisited.visits }}</td>
                    <td>
                        <a href="{{ url('url_redirect_index', {'shortUrl' : urlVisited.shortUrl}) }}" title="{{ urlVisited.shortUrl }}" target="_blank">
                            {{ absolute_url(url('url_redirect_index', {'shortUrl' : urlVisited.shortUrl})) }}
                        </a>
                    </td>
                    <td style="max-width: 250px;">{{ urlVisited.longUrl }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}