{% extends 'base.html.twig' %}

{% block title %}{{ 'label.sign_in'|trans }}{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <section>
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-8">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                                    <h1 class="h3 mb-3 font-weight-normal">{{ 'label.sign_in'|trans }}</h1>
                                    <label for="inputEmail" class="fw-bold my-2">{{ 'label.email'|trans }}</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                    <label for="inputPassword" class="fw-bold my-2">{{ 'label.password'|trans }}</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                <div class="col-md-6 mx-auto" style="width: 300px;">
                                    <div class="form-group row float-sm-right my-2">

                                    <button class="btn btn-lg btn-primary" type="submit">
                                        {{ 'label.sign_in'|trans }}
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}
