{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_details'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}

    <h1>{{ 'title.user_details'|trans({'%id%': user.id|default('')}) }}</h1>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'user.id'|trans }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'user.email'|trans }}</dt>
            <dd>{{ user.email }}</dd>
            <dt>{{ 'label.edit'|trans }}</dt>
            {% if is_granted('EDIT_USER_DATA', user) %}
                <dd>
                    <a class='btn btn-outline-success' href="{{ url('user_edit_email', {'id': user.id}) }}" title="{{ 'action.edit'|trans }}">
                        {{ 'action.edit_email'|trans }}
                    </a>
                </dd>
                <dd>
                    <a class="btn btn-outline-success" href="{{ url('user_edit', {'id': user.id}) }}" title="{{ 'action.edit'|trans }}">
                        {{ 'action.edit_password'|trans }}
                    </a>
                </dd>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <dd>
                    <a class="btn btn-outline-warning" href="{{ url('user_edit_role', {'id': user.id}) }}" title="{{ 'action.edit'|trans }}">
                        {{ 'action.edit_role'|trans }}
                    </a>
                </dd>
            {% endif %}

        </dl>
        <p>
            <a class="btn btn-primary" href="{{ url('user_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}
