<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand mx-2" href="{{ path('url_create') }}">URL Shortener</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"> aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_show', {'id': app.user.id}) }}">{{ app.user.email }}</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_index') }}">{{ 'title.user_list'|trans }}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('tag_index') }}">{{ 'title.tag_list'|trans }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('url_index') }}">{{ 'title.user_urls'|trans }}</a>
                </li>

            {% endif %}
            <li>
                <a class="nav-link" href="{{ path('url_list') }}">{{ 'title.url_list'|trans }}</a>
            </li>
                <li class="nav-item me-auto">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="nav-link" href="{{ path('app_logout') }}">{{ 'action.logout'|trans }}</a>
            {% else %}
                    <a class="nav-link" href="{{ path('app_login') }}">{{ 'action.login'|trans }}</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('app_register') }}">{{ 'action.register'|trans }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
